body {
    background: #eee;
    text-align: center;
}

div#container {
    display: inline-block;
}

div#container:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

div#chat, select#users {
    float: left;
    background: white;
    border: 1px solid #ccc;
    height: 400px;
    text-align: left;
    overflow-y: scroll;
}

div#chat {
    width: 600px;
    padding: 0 10px;
    margin-right: 10px;
}

select#users {
    width: 200px;
}

span {
    font-weight: bold;
}

input[type="text"] {
    display: block;
    width: 600px;
    margin: 10px auto 0;
}